body{
    background-image: url(imgs/background.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: cover;
    background-size:cover;
}
div{
    background-color: rgb(255,255,255);
    padding: 20px 40px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2pt blue;
    border-radius: 20px;
}
