.redcol{
    height: 30px;
    background-color: rgb(255, 187, 187);
    margin-bottom: 10px;
}
.greencol{
    height:30px;
    background-color: rgb(111, 178, 131);
    margin-bottom: 10px;
}
h2{
    text-align: center;
}